@import url("./catppuccin/themes/mocha.css");

* {
  font-family: "Maple Mono NF";
  font-size: 10px;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

button {
  background: transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#language,
#cava,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
}

#pulseaudio {
  color: @maroon;
}


#language {
  color: @lavender;
}

#custom-power {
  color: @red;
}

#workspaces button.urgent {
  color: @red;
}
