@import url("./catppuccin/themes/mocha.css");

* {
  font-family: "Maple Mono NF";
  font-size: 10px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background-color: @surface0;
  margin-left: 2px;
}

#workspaces button {
  color: @lavender;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 5px;
}

button {
  background: transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#language,
#cava,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 5px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 5px 0px 0px 5px;
}

#cava {
  color: @pink;
  border-radius: 5px 0px 0px 5px;
  margin-left: 5px;
  margin-right: 0;
  padding-right: 0;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#language {
  color: @lavender;
}

#custom-power {
  margin-right: 2px;
  border-radius: 0px 5px 5px 0px;
  color: @red;
}

#workspaces button.urgent {
  color: @red;
}
